<input type="text" [(ngModel)]="textString"/><button (click)="addText()">Add</button>
&nbsp; &nbsp;
<button (click)="addFigure('triangle')">Triangle</button>
<button (click)="addFigure('circle')">Circle</button>
<button (click)="addFigure('square')">Square</button>
<button (click)="addFigure('rectangle')">Rectangle</button>

&nbsp;&nbsp;

<button (click)="ExportToContent('json')">Generate Json</button>
<button (click)="ExportToContent('svg')">Generate SVG</button>
<br/>
<code>{{OutputContent}}</code>
<canvas id="canvas"></canvas>

<router-outlet></router-outlet>
